<a href="https://colab.research.google.com/github/fennellclyde/cosmosdb_practise/blob/main/NOSQL_practice_Mongo_Cosmos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
# PLEASE DO NOT CHANGE THIS LINE
import pymongo
uri = "mongodb://randomwhale:hN837NgLsDvLuQOIlMJ9klk71vdcxDoYtat8Cs5RjA4k4q0Y7DjqLwGBn1N12U46dtsdWsXvBgjuHDg75UlGWg==@randomwhale.mongo.cosmos.azure.com:10255/?ssl=true&retrywrites=false&replicaSet=globaldb&maxIdleTimeMS=120000&appName=@randomwhale@"
client = pymongo.MongoClient(uri)

In [16]:
mydb = client["dodoisdancing"] # PLEASE DO NOT CHANGE THIS LINE

In [18]:
mycol = mydb["cheese"] # Change collection name 'fish' to anything else that you like!

In [19]:
mydict = { "name": "Edam", "strength": "mild" }

x = mycol.insert_one(mydict)

In [20]:
mydict = { "name": "Edam", "age": 1 }

x = mycol.insert_one(mydict)

In [21]:
r2 = { "name": "Edam", "complex": mydict , "subjects":["eng","fr","gt"]}

x = mycol.insert_one(r2)

In [22]:
# MongoDB-> Document Database 
for x in mycol.find():
  print(x)

{'_id': ObjectId('619bbde6156e2c96c0b1ef01'), 'name': 'Edam', 'strength': 'mild'}
{'_id': ObjectId('619bbe37156e2c96c0b1ef02'), 'name': 'Edam', 'age': 1}
{'_id': ObjectId('619bbe4d156e2c96c0b1ef03'), 'name': 'Edam', 'complex': {'name': 'Edam', 'age': 1, '_id': ObjectId('619bbe37156e2c96c0b1ef02')}, 'subjects': ['eng', 'fr', 'gt']}
{'_id': ObjectId('619bc4b6156e2c96c0b1ef05'), 'name': 'Edam', 'strength': 'mild'}
{'_id': ObjectId('619bc4c8156e2c96c0b1ef06'), 'name': 'Edam', 'age': 1}
{'_id': ObjectId('619bc4d9156e2c96c0b1ef07'), 'name': 'Edam', 'complex': {'name': 'Edam', 'age': 1, '_id': ObjectId('619bc4c8156e2c96c0b1ef06')}, 'subjects': ['eng', 'fr', 'gt']}

In [23]:
for x in mycol.find({"name":"Edam", "age":1}).limit(1):
  print(x)

{'_id': ObjectId('619bbe37156e2c96c0b1ef02'), 'name': 'Edam', 'age': 1}

In [25]:
myquery = { "name": { "$regex": "m$" } } # for example, this is a 
# regular expression that ends with letter 'p'

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('619bbde6156e2c96c0b1ef01'), 'name': 'Edam', 'strength': 'mild'}
{'_id': ObjectId('619bbe37156e2c96c0b1ef02'), 'name': 'Edam', 'age': 1}
{'_id': ObjectId('619bbe4d156e2c96c0b1ef03'), 'name': 'Edam', 'complex': {'name': 'Edam', 'age': 1, '_id': ObjectId('619bbe37156e2c96c0b1ef02')}, 'subjects': ['eng', 'fr', 'gt']}
{'_id': ObjectId('619bc4b6156e2c96c0b1ef05'), 'name': 'Edam', 'strength': 'mild'}
{'_id': ObjectId('619bc4c8156e2c96c0b1ef06'), 'name': 'Edam', 'age': 1}
{'_id': ObjectId('619bc4d9156e2c96c0b1ef07'), 'name': 'Edam', 'complex': {'name': 'Edam', 'age': 1, '_id': ObjectId('619bc4c8156e2c96c0b1ef06')}, 'subjects': ['eng', 'fr', 'gt']}

In [26]:
# Modern-> 2 things-> Credentials, strictly mantain relationship 
# SQL-> Tx
# moving from SQL to Mongo or Blob or Table
# Search from there!

In [27]:
# Product Description
# TV, Fridge, Ship-> price, catID-> SEMI - STRUCTURED
# diagonal, price, 
# volume, price, color
# capacity, name, not_available

In [28]:
# Shopping basket -> { itemid, item count, unit price, totalprice}->

In [29]:
# use SQL-> RELATIONSHIPs-> FK